.admin-login-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f1;
  font-family: Arial, sans-serif;
}

.admin-login-box {
  background: #fff;
  width: 320px;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.13);
}

.admin-login-box h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

.admin-login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccd0d4;
  border-radius: 4px;
  box-sizing: border-box;
}
.admin-login-box input:focus{
  outline: none; 
}

.admin-login-box button {
  width: 100%;
  background: #2271b1;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.admin-login-box button:hover {
  background: #135e96;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
.password-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.password-wrapper input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #ccd0d4;
  border-radius: 4px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: 18px;
}

.eye-icon:hover {
  color: #2271b1;
}
